include LICENSE
include README.rst
recursive-include */static *
recursive-include */templates *
prune */static/config.rb
prune */static/css/jquery.fullPage.css
prune */static/js/jquery.fullPage.js
prune */static/sass
