/*
 * Full-page main styling.
 */

.alpha60 {
	background: rgb(36, 45, 74) transparent;  /* Fallback for web browsers that don't support RGBa */
	background: rgba(36, 45, 74, 0.6);  /* RGBa with 0.6 opacity */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);  /* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";  /* For IE 8*/
}

.text-glow {
	text-shadow: 1px 0px 0px #686868, 1px 1px 0px #686868, 0px 1px 0px #686868; /*,
		-1px 1px 0px #686868, -1px 0px 0px #686868, -1px -1px 0px #686868,
		0px -1px 0px #686868, 1px -1px 0px #686868, 1px 4px 5px #aeaeae;*/
}

body {
	margin: 0;
}

#header {
	top: 0;
}

#footer {
	bottom: 0;
	text-align: center;
}

#header,
#footer {
	@extend .alpha60;
	color: $gray-lighter;
	display: block;
	position: fixed;
	width: 100%;
	height: 3.8em;
	padding: 1.3em 0 0 0;
	z-index: 9;

	p {
		margin: 0;
		padding: 0 0.6em;
	}
}

#content {
	margin: 5em 1.5em;
}

#fullpage {
	margin: -5em -1.5em;

	.section {
		padding: 5em 1.5em;

		h1,
		h2 {
			margin: 0;
			padding: 0;
			@extend .text-glow;
		}

		p {
			font-size: 1.5em;
			margin: 1em 0;
			@extend .text-glow;
		}
	}
}

.section {
	background-size: cover;
	padding: 0;
	text-align: center;
}

.tableCell {
	vertical-align: top;
}

// smaller mobile screens
@media screen and (max-width: $screen-xs) {
	#header,
	#footer {
		height: 2.9em;
		padding: 0.8em 0 0 0;
	}

	#content {
		margin: 3.2em 0.6em;
	}

	h1,
	h2,
	h3,
	h4 {
		font-size: 2.3em;
	}
}
